/* CSS VARIBLES */
:root {
  --bg-main: #999fad;
  --bg-dark1: #45516a;
  --bg-dark2: #472e37;
  --bg-accent1: #dbd99f;
  --bg-accent2: #5d7876;
  --bg-accent3: darkmagenta;
}

body { margin:0; padding:0; }
h1 { font-family: 'Mirza', cursive;}  /* note that different fonts will require different margin adjustments */
h2,h3,h4,h5,h6 { font-family: 'Buda', cursive; }
p, span, a, li {
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 400;
  line-height: 150%;
}
a { color: darkmagenta; }
a:hover { text-decoration: line; opacity: 0.8; }
li { list-style: none; }

svg path { stroke-linejoin: round; }
/* shape-rendering: geometricPrecision; } <-- Firebox SVG is blurry on zoom?? */
/* shape-rendering: optimizeSpeed; } <-- doesn't seem to make much difference in performance and looks very grainy */

ul.show-bullets li { list-style: outside; }
ul.show-bullets--square li { list-style: square; }

/* color summary symbol */
details.color-symbol > summary,
details.color-symbol > summary::marker,
details.color-symbol > summary::-webkit-details-marker {
  color: #2A4C48;
  margin-bottom: 1px;
}

@media screen and (min-width: 1200px) {
  details.unnudge-symbol-mxl > summary,
  details.unnudge-symbol-mxl > summary::marker,
  details.unnudge-symbol-mxl > summary::-webkit-details-marker {
    margin-bottom: 0px;
  }
}

/* but not summary text */
details.color-symbol > summary > span {
  color: rgba(0,0,0,0.75);
}

#legend-log details > summary,
#legend-log details > summary::marker {
  list-style: none;
}
#legend-log details > summary::-webkit-details-marker {
  display: none;
}

/* #about, #dash, #modal, #veil { transition: 0.6s all; } */
#dash { transition: 0.6s; } /* not doing much */

#elevation,#clock {
  border-radius: 5px 50px;
  background: #dbd99f;
}
#odometer,#compass {
  border-radius: 50px 5px;
  background: #dbd99f;
}
#elevation,#odometer { border-top: 1px double dimgray; }
#odometer,#clock { border-right: 1px double dimgray; }
#compass,#clock { border-bottom: 1px double dimgray; }
#elevation,#compass { border-left: 1px double dimgray; }
#footer a { color: darksalmon; /* font-weight: 700; */ }
#dash { overflow-y:hidden; }
#resizable { height: 120px; }

#dash .resizer { cursor: ns-resize; }
#replay-icon { transform: scale(-1, 1) rotate(-45deg); }
#play-icon { transform: scale(-1.5, 0.75) rotate(135deg); }
#play-icon-lrg { transform: translate(-30px,0px) scale(-12, 6) rotate(135deg); }
#pause-icon-left { transform: rotate(90deg) scale(8); }
#pause-icon-right { transform: rotate(90deg) scale(8);  }

/* reverse triangle position and direction on data source details elements  */
.reverse-order { direction: rtl; }
.reverse-order li a,
.reverse-order li .nevermind-reverse {
  direction: ltr; unicode-bidi: embed;
}

.mt1 { margin-top: 1px;}
.mb1 { margin-bottom: 1px; }
.mr1 { margin-right: 1px; }
.my9 { margin-top: 9px; margin-bottom: 9px; }
.ml9 { margin-left: 9px; }
.mr9 { margin-right: 9px; }
.mb-neg9 { margin-bottom: -9px; }
.mr-neg9 { margin-right: -9px; }
.ml-neg9 { margin-left: -9px; }
.mt-neg9 { margin-top: -9px; }
.mt-neg21 { margin-top: -21px; }
.mt-neg10 { margin-top: -10px; }
.mr-neg26 { margin-right: -26px; }
.pl9 { padding-left: 9px; }
.pr9 { padding-right: 9px; }
.pb9 { padding-bottom: 9px;}
.pt9 { padding-top: 9px;}

.hmax140 { max-height: 140px; }

.pointer { cursor: pointer; }

.point-none { pointer-events: none; }
.point-all { pointer-events: all; }
.horz-flip { transform: scale(-1, 1); }
.rotate90 { transform: rotate(90deg); }

.scroll-y-auto {
  overflow-y: auto;
  overflow-x: hidden;
}

.bg-base { background: #2A4C48; }
/* .bg-main {} */
.bg-map { background: var(--bg-dark1); }
.bg-section { background: var(--bg-dark1); }
.bg-aside { background: var(--bg-dark1); }
.bg-modal { background: #adbab8; }
.bg-accent1 { background: var(--bg-accent1); }
.bg-accent2 { background: var(--bg-accent2); }
.bg-accent3 { background: var(--bg-accent3) !important; }
.bg-dark1 { background: var(--bg-dark1); }
.bg-dark2 { background: var(--bg-dark2); }
.txt-fancy { font-family: 'Fredericka the Great', cursive; }
.txt-fancy2 { font-family: 'Sirin Stencil', cursive; }

.open {
  transform: rotate(90deg);
  transition: all 0.6s;
}
.closed {
  transform: rotate(0deg);
  transition: all 0.6s;
}

/* adding on to assembly styling structure */
.bg-accent1-on-hover:hover {
  background: var(--bg-accent3) !important;
}
.bg-accent2-on-active:active {
  background: var(--bg-dark2) !important;
}
.color-accent1 {
  color: var(--bg-accent3) !important;
}
.color-accent2 {
  color: var(--bg-dark2) !important;
}
.color-accent3 {
  color: var(--bg-accent1) !important;
  /* color: salmon; */
}
.color-accent1-on-hover:hover {
  color: var(--bg-accent3) !important;
}
.color-accent2-on-active:active {
  color: var(--bg-dark2) !important;
}

 /* transition: 0.6s all; */
.disappear-up {
  max-height: 360px; position: fixed; top: -400px;
}
.disappear-down {
  max-height: 360px; position: fixed; bottom: -400px;
}
.disappear-right {
  max-width: 360px; position: fixed; right: -400px;
}
.disappear-left {
  max-width: 360px; position: fixed; left: -400px;
}

.tooltip {
  position: absolute;
  text-align: center;
  padding: 6px 12px 8px 12px;
  border-radius: 2px;
  background: honeydew;
  border: 2px;
}

.hover { stroke-opacity: 1; opacity: 1 }
.visible { visibility: visible; }
.hidden { visibility: hidden; }
.txt-compact { line-height: 1.2em; }
.txt-compact2 { line-height: 0.8em; }

.hmax-twothirds {
  max-height: calc(66vh - 60px);
}

.flex1 { order: 1; }
.flex2 { order: 2; }
.flex3 { order: 3; }
.flex4 { order: 4; }
.flex5 { order: 5; }
.flex6 { order: 6; }

.already-open { animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both; }
.limit-reached { animation: shake2 1s cubic-bezier(.36,.07,.19,.97) both; }
.already-open, .limit-reached {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

/* MEDIA QUERIES */

/* @media screen and (min-width: 200px) { } */
@media screen and (min-width: 400px) {
  /* missing from Assembly */
  .mx6-sm { margin-left: 6px !important; margin-right: 6px !important; }
  .txt-nowrap-sm { white-space: nowrap !important; }
}
@media screen and (min-width: 640px) {
  #resizable { height: 180px; }
  .normal-order-mm { direction: ltr; }
  /* missing from Assembly */
  .txt-nowrap-mm { white-space: nowrap !important; }
  .align-l-mm { text-align: left !important; }
  .align-r-mm { text-align: right !important; }
}
@media screen and (min-width: 640px) and (max-width: 1199px) {
  .flex3-mm-ml { order: 3; }
  .flex4-mm-ml { order: 4; }
  .txt-nowrap-ml { white-space: nowrap !important; }
}
@media screen and (min-width: 1200px) {
  .reverse-order-mxl { direction: rtl; }
  .reverse-order-mxl li a,
  .reverse-order-mxl li .nevermind-reverse {
    direction: ltr;
    unicode-bidi: embed;
  }
  .flex3-mxl { order: 3; }
  .flex4-mxl { order: 4; }
  .mr26-mxl { margin-right: 26px !important; }
  .middle-y-mxl { vertical-align: middle !important; }
  .mr-neg9-mxl { margin-right: -9px !important; }
  .mt-neg9-mxl { margin-top: -9px !important; }
  /* missing from Assembly */
  .align-l-mxl { text-align: left !important; }
  .align-r-mxl { text-align: right !important; }
  .txt-nowrap-mxl { white-space: nowrap !important; }
}

/* ANIMATION */
@keyframes shake {
  10%, 90% { transform: translate3d(-1px, 0, 0); }
  20%, 80% { transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
  40%, 60% { transform: translate3d(4px, 0, 0); }
}
@keyframes shake2 {
  10%, 90% { transform: translate3d(-0.5px, 0, 0); }
  20%, 80% { transform: translate3d(1.5px, 0, 0); }
  30%, 50%, 70% { transform: translate3d(-2px, 0, 0); }
  40%, 60% { transform: translate3d(2px, 0, 0); }
}
