/* CSS VARIBLES */
:root {
  --bg-main: #999fad;
  --bg-dark1: #45516a;
  --bg-dark2: #472e37;
  --bg-accent1: #dbd99f;
  --bg-accent2: #5d7876;
  --bg-accent3: darkmagenta;
}

body { margin:0; padding:0; }
h1 { font-family: 'Mirza', cursive;}  /* note that different fonts will require different margin adjustments */
h2,h3,h4,h5,h6 { font-family: 'Buda', cursive; }
p, span, a, li {
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 400;
  line-height: 150%;
}
a { color: darkmagenta; }
a:hover { text-decoration: line; opacity: 0.8; }
li { list-style: none; }

svg path { stroke-linejoin: round; }
  /* shape-rendering: optimizeSpeed; } <-- doesn't seem to make much difference in performance and looks very grainy */

ul.show-bullets li { list-style: outside; }
ul.show-bullets--square li { list-style: square; }

/* details triangle marker position is absolute to legend-log-item (in chrome, anyway)*/
#legend-log details > summary::-webkit-details-marker {
  position: absolute;
  top: 0.5; left: 8px;
}

/* hide details triangle marker until child content added */
details.hide-triangle > summary {
  list-style: none;
}
details.hide-triangle > summary::-webkit-details-marker {
  display: none;
}
/* adjust indent/border-l on child legend items only, while keeping all label text centered */
.legend-log-child-item {
  margin-left: 12px
}
.legend-log-child-item label {  /*log-name*/
  margin-left: -12px
}

/* color summary symbol */
details.color-symbol > summary,
details.color-symbol > summary::-webkit-details-marker {
  color: #2A4C48;
}
/* but not summary text */
details > summary > span {
  color: rgba(0,0,0,0.75);
}

/* #about, #dash, #modal, #veil { transition: 0.6s all; } */
#dash { transition: 0.6s; } /* not doing much */

#encounters {
  scroll-behavior: smooth;
  transition: 0.4s;
}
#elevation,#clock {
  border-radius: 5px 50px;
  background: #dbd99f;
}
#odometer,#compass {
  border-radius: 50px 5px;
  background: #dbd99f;
}
#elevation,#odometer { border-top: 1px double dimgray; }
#odometer,#clock { border-right: 1px double dimgray; }
#compass,#clock { border-bottom: 1px double dimgray; }
#elevation,#compass { border-left: 1px double dimgray; }
#footer a { color: darksalmon; /* font-weight: 700; */ }
#dash { overflow-y:hidden; }
#resizable { height: 120px; }

#dash .resizer { cursor: ns-resize; }

/* reverse triangle position and direction on data source details elements  */
.reverse-order { direction: rtl; }
.reverse-order li a,
.reverse-order li .nevermind-reverse {
  direction: ltr; unicode-bidi: embed;
}

.point-none { pointer-events: none; }
.point-all { pointer-events: all; }
.horz-flip { transform: scale(-1, 1); }

.bg-base { background: #2A4C48; }
/* .bg-main {} */
.bg-map { background: var(--bg-dark1); }
.bg-section { background: var(--bg-dark1); }
.bg-aside { background: var(--bg-dark1); }
.bg-modal { background: #adbab8; }
.bg-accent1 { background: var(--bg-accent1); }
.bg-accent2 { background: var(--bg-accent2); }
.bg-accent3 { background: var(--bg-accent3) !important; }
.bg-dark1 { background: var(--bg-dark1); }
.bg-dark2 { background: var(--bg-dark2); }
.txt-fancy { font-family: 'Fredericka the Great', cursive; }
.txt-fancy2 { font-family: 'Sirin Stencil', cursive; }
.color-symbol { color: #2A4C48; }

/* adding on to assembly styling structure */
.bg-accent1-on-hover:hover {
  background: var(--bg-accent3) !important;
}
.bg-accent2-on-active:active {
  background: var(--bg-dark2) !important;
}
.color-accent1-on-hover:hover {
  color: var(--bg-accent3) !important;
}
.color-accent2-on-active:active {
  color: var(--bg-dark2) !important;
}

.disappear-up {
  position: fixed; top: -600px; transition: 0.6s all;
}
.disappear-down {
  position: fixed; bottom: -600px; transition: 0.6s all;
}
.disappear-right {
  position: fixed; right: -600px; transition: 0.6s all;
}
.disappear-left {
  position: fixed; left: -600px; transition: 0.6s all;
}
.widget {
  border: 1px solid #6B7063;
  border-radius: 0 0 0 2px;
}
.tooltip {
  position: absolute;
  text-align: center;
  padding: 12px 18px;
  border-radius: 2px;
  background: honeydew;
  border: 2px;
}
.hover { stroke-opacity: 1; opacity: 1 }
.visible { visibility: visible; }
.hidden { visibility: hidden; }
.txt-xxs { font-size: 0.5em; }
.txt-compact { line-height: 1.2em; }
.txt-compact2 { line-height: 0.8em; }

.unstyled {
 list-style: none;
}
.flex1 { order: 1; }
.flex2 { order: 2; }
.flex3 { order: 3; }
.flex4 { order: 4; }
.flex5 { order: 5; }
.flex6 { order: 6; }

.already-open { animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both; }
.limit-reached { animation: shake2 1s cubic-bezier(.36,.07,.19,.97) both; }
.already-open, .limit-reached {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

/* MEDIA QUERIES */
/* @media screen and (min-width: 400px) { } */
@media screen and (min-width: 640px) {
  #resizable { height: 180px; }
  .normal-order-mm { direction: ltr; }
  .widget {
    border: 4px solid #6B7063;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #2A4C48;
  }
  /* missing from Assembly */
  .align-l-mm { text-align: left !important; }
  .align-r-mm { text-align: right !important; }
}
@media screen and (min-width: 640px) and (max-width: 1199px) {
  .flex3-mm-ml { order: 3; }
  .flex4-mm-ml { order: 4; }
}
@media screen and (min-width: 1200px) {
  .reverse-order-mxl { direction: rtl; }
  .reverse-order-mxl li a,
  .reverse-order-mxl li .nevermind-reverse {
    direction: ltr; unicode-bidi: embed;
  }
  .flex3-mxl { order: 3; }
  .flex4-mxl { order: 4; }
  /* missing from Assembly */
  .align-l-mxl { text-align: left !important; }
  .align-r-mxl { text-align: right !important; }
}

/* ANIMATION */
@keyframes shake {
  10%, 90% { transform: translate3d(-1px, 0, 0); }
  20%, 80% { transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
  40%, 60% { transform: translate3d(4px, 0, 0); }
}
@keyframes shake2 {
  10%, 90% { transform: translate3d(-0.5px, 0, 0); }
  20%, 80% { transform: translate3d(1.5px, 0, 0); }
  30%, 50%, 70% { transform: translate3d(-2px, 0, 0); }
  40%, 60% { transform: translate3d(2px, 0, 0); }
}
